<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>productInfo</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/baner.ejs") %>
    <main>
        <section class="producto">
            <span class="miniaturas">
                <div class="miniPictures">
                    <img src="img/bicicleta2.jpg" class="picture">
                    <img src="img/bicicleta3.jpg" class="picture">
                    <img src="img/bicicleta4.jpg" class="picture">
                    <img src="img/bicicleta5.jpg" class="picture">
                </div>
                <div class="principalPicture">
                    <img src="img/bicicleta1.jpg" alt="">
                </div>
                <div class="info">
                    <div id="nombreProducto">
                        <p>Bicicleta Todoterreno</p>
                    </div>
                    <span>
                        <div id="precio">
                            <p>$960000.00</p>
                        </div>
                        <div id="descuento">
                            <p>$1200000.00</p>
                        </div>
                        <div id="alCarrito">
                            <p>comprar</p>
                        </div>
                    </span>
                    <div id="descripcionProducto">
                        <p>
                            Marco en acero 1.9 nacional <br>
                            ultra liviano. Marca Sforzo. <br>
                            Altura de uso 168 a 187 cm. <br>
                            Tenedor en acero. Frenos de disco. <br>
                            Rines 29 doble pared. Manubrio <br>
                            en aluminio. Caña en aluminio. <br>
                            18 velocidades. Pedales en resina <br>
                            9/16. Ajuste tornillo. 95% armada.
                        </p>
                    </div>
                </div>
            </span>
        </section>
        <section class="datosAdicionales">
            <div id="sectionName">
                <p>CARACTERÍSTICAS ADICIONALES</p>
            </div>
            <span class="moreData">
                <div>
                    <p>
                        &#8226 Marco en acero 1.9 nacional ultra liviano. <br>
                        &#8226 Marca Sforzo. <br>
                        &#8226 Altura de uso: 168 a 187 cm. <br>
                    </p>
                </div>
                <div>
                    <p>
                        &#8226 Marco en acero 1.9 nacional ultra liviano. <br>
                        &#8226 Marca Sforzo. <br>
                        &#8226 Altura de uso: 168 a 187 cm. <br>
                    </p>
                </div>
            </span>
        </section>
        <section class="similares">
            <div id="sectionName">
                <p>PRODUCTOS SIMILARES</p>
            </div>
            <span class="moreData">
                <div class="similarProduct">
                    <div id="similarPictures">
                        <img src="img/bicicleta2.jpg" alt="">
                    </div>
                    <div id="similarProductName">
                        <p id="sP">
                            Nombre producto
                        </p>
                    </div>
                </div>
                <div class="similarProduct">
                    <div id="similarPictures">
                        <img src="img/bicicleta2.jpg" alt="">
                    </div>
                    <div id="similarProductName">
                        <p id="sP">
                            Nombre producto
                        </p>
                    </div>
                </div>
                <div class="similarProduct">
                    <div id="similarPictures">
                        <img src="img/bicicleta2.jpg" alt="">
                    </div>
                    <div id="similarProductName">
                        <p id="sP">
                            Nombre producto
                        </p>
                    </div>
                </div>
                <div class="similarProduct">
                    <div id="similarPictures">
                        <img src="img/bicicleta2.jpg" alt="">
                    </div>
                    <div id="similarProductName">
                        <p id="sP">
                            Nombre producto
                        </p>
                    </div>
                </div>
            </span>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>