<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>altisport</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<header>
    <div class="top-header">
        <picture>

            <img class="logo" src="/img/altisport-logo.png" alt="Logo altisport">
        </picture>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#">Bicicletas</a>
            </li>
            <li>
                <a href="#">Balones</a>
            </li>
            <li>
                <a href="#">Morrales</a>
            </li>
            <li>
                <a href="#">Ropa</a>
            </li>
            <li>
                <a href="#">Zapatos</a>
            </li>
        </ul>

    </nav>





</header>
<section class="banner">
    <img src="/img/banner-altisport.jpg">
</section>

<body>

</body>

</html>