<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>altisport</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<header>
    <div class="top-header">
        <picture>

            <img class="logo" src="/img/altisport-logo.png" alt="Logo altisport">
        </picture>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#">Bicicletas</a>
            </li>
            <li>
                <a href="#">Balones</a>
            </li>
            <li>
                <a href="#">Morrales</a>
            </li>
            <li>
                <a href="#">Ropa</a>
            </li>
            <li>
                <a href="#">Zapatos</a>
            </li>
            <li>
                <a href="/product-info">Login</a>
            </li>
        </ul>

    </nav>





</header>
<section class="banner">
    <img src="/img/banner-altisport.jpg">
</section>

<body>

<main>
  <!--Titulo categorias-->
    <h2>Categorias</h2>

     <!--cards categorias-->

<section class="categorias">
    <article>

     <img src="/img/bicicleta.png" alt="categorias bicicleta">
     <div><h3>Bicicletas</h3></div>
    </article>

<article>

    <img src="/img/zapato.png" alt="categorias zapatos">
    <div><h3>Zapatos</h3></div>
</article>

<article>

    <img src="/img/balones.png" alt="categorias balones">
    <div><h3>balones</h3></div>
</article>

<article>

    <img src="/img/ropa.png" alt="categorias ropa">
    <div><h3>ropa</h3></div>
    
</article>
</section>

<section class="banner">
    <img src="/img/Banner-ropa-deportiva-2.jpg">
</section>


</main>

</body>

</html>