|<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/product-car.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>productCar</title>
</head>
<body>
    <header>
        <span id="logo">
            <div class="logoContainer">
                <img src="img/altisport-logo.png" alt="" class="logoimg">
            </div>
            <p class="navButton">
                Bicicletas
            </p>
            <p class="navButton">
                Balones
            </p>
            <p class="navButton">
                Ropa
            </p>
            <p class="navButton">
                Zapatos
            </p>
            <p class="navButton">
                <i class="fas fa-sign-in-alt fa-inverse"></i>
            </p>
    </header>
    <main>
        <div class="top-tittle">
            <div class="top-tittle-car">
                <i class="fas fa-shopping-cart"></i>
                <h1>MI COMPRA</h1>
            </div>
            <button name="continue" class="continue">Continuar</button>
        </div>
        <div class="medium-tittle">
            <h2> Producto </h2>
            <h2> Precio unidad </h2>
            <h2> Cantidad </h2>
            <h2> Subtotal </h2>
        </div>
        <section>
            <article class="product-card">
                <img src="img/bicicleta3.jpg" alt="">
                <p class="price"> $980.000 </p>
                <div class="quantity">
                    <p> 1 </p>
                    <div class="modify-quantity"> 
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                </div>
                <div class="price-delete">
                    <p class="subtotal"> $980.000</p>
                    <i class="far fa-times-circle"></i>
                </div>
            </article>
            <article class="product-card">
                <img src="img/bicicleta2.jpg" alt="">
                <p class="price"> $450.000 </p>
                <div class="quantity">
                    <p> 2 </p>
                    <div class="modify-quantity"> 
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                </div>
                <div class="price-delete">
                    <p class="subtotal"> $900.000</p>
                    <i class="far fa-times-circle"></i>
                </div>
            </article>
            <article class="product-card">
                <img src="img/bicicleta4.jpg" alt="">
                <p class="price"> $1.000.000 </p>
                <div class="quantity">
                    <p> 1 </p>
                    <div class="modify-quantity"> 
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                </div>
                <div class="price-delete">
                    <p class="subtotal"> $1.000.000</p>
                    <i class="far fa-times-circle"></i>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <span class="final">
            <div>
                <p>
                    <a href="">¿Quienes somos?</a><br>
                    <a href="">Ropa deportiva</a><br>
                    <a href="">Bicicletas de montaña</a><br>
                    <a href="">Balones deportivos</a><br>
                </p>
            </div>
            <div>
                <p>
                    <a href="">Facebook</a><br>
                    <a href="">Instagram</a><br>
                    <a href="">Youtube</a><br>
                    <a href="">Twitter</a>
                </p>
            </div>
            <div class="logoContainer">
                <img src="img/altisport-logo.png" alt="" class="logoimg">
            </div>
        </span>
    </footer>
</body>
</html>