@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colores*/
    --gris:#222831;
    --blanco:#ffffff;
    --naranja:#FD7014;
    --naranja-claro:#ee8d4c;
    --negro:#000000;

    /*fuentes*/
    --roboto:'Roboto', sans-serif;
    --text-tittle: 2.5em;
    --text-md: 1.4em;
    --text-pd: 1.8em;
}
html
{
    font-size: 62.5%;
    font-family: var(--roboto);
}


/*HEADER*/
header{
    background-color: var(--gris);
    font-size: 3.6em;
    color:var(--blanco);
    height: 169px;
}

#logo{
    color:var(--blanco);
    margin-left: 2%;
    display:flex;
    justify-content: start;
    align-items: flex-start;
}

.logoContainer{
    width: 200px;
    margin-right: 75px;
}

.logoimg{
    width: 100%;
}

.navButton{
    margin-right: 75px;
    margin-top: 75px
}

header span{
    margin-right: 7%;
}

/* MAIN */
main {
    width: 80%;
    margin: 0 auto;
}
main div.top-tittle{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--gris);
}
div.top-tittle-car{
    display: flex;
}
div.top-tittle i{
    color: var(--gris);
    font-size: var(--text-tittle);
    margin-right: 10px;
}
div.top-tittle h1{
    color: var(--naranja);
    font-size: var(--text-tittle);
    margin-left: 10px;
}
div.top-tittle button{
    color: var(--gris);
    background-color: var(--naranja);
    font-size: var(--text-tittle);
    padding: 0 20px;   
    border: 2px solid var(--naranja-claro);
    border-radius: 0.2em;
}
div.medium-tittle{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: var(--text-md);
}
div.medium-tittle h2{
    width: 20%;
}
section article.product-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--gris) ;
    font-size: var(--text-pd);
}
article div.quantity{
    display: flex;
    align-items: center;
}
article div.modify-quantity{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
article p{
    margin: 0 10px;
}
article div.modify-quantity{
    margin: 0 10px;
}
article img, p, div.quantity, div.price-delete{
    width: 20%;
}
article div.price-delete{
    display: flex;
    justify-content: space-between;
}
/* FOOTER */
footer{
    font-family: var(--roboto);
    background-color: var(--gris);
    height: 404px;
}

.final{
    font-size: 3.6em;
    color: var(--naranja);
    display:flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 5%;
}

.final div{
    margin-top: 10%;
    margin-right: 15%;
    color: var(--blanco);
}

.final div a{
    text-decoration: none;
    color: var(--blanco);
}