@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('/css/shoppingCart.css');
@import url('/css/stylesAdmin.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*colores*/
    --gris: #222831;
    --blanco: #ffffff;
    --naranja: #FD7014;
    --negro: #000000
        /*fuentes*/
        --roboto:'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

body{
    
}

/*HEADER*/
header {
    background-color: var(--gris);
    font-size: 2.4em;
    color: #ffffff;
    height: 85px;
}

#navBar {
    color: var(--blanco);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    color: #ffffff;
}

.navMenu {
    display: flex;
    color: #ffffff;
}

.userMenu {
    display: flex;
    gap: 15px;
    color: #ffffff
}

.logoContainer {
    width: 100px;

}

.logoimg {
    width: 100%;
}

.navButton {
    margin-right: 75px;

}

.loginicon {
    display: flex;
    align-items: center;
}

#img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: flex-end;
    align-items: center;
}

.userLogged {
    align-items: center;
    display: flex;
}

header span {}

#banner {
    width: 100%;
}

/*main*/
main {
    padding: 0px;
}

.producto {
    display: flex;
    font-family: var(--roboto);
    background-color: #ffffff;
    width: 70%;
    margin: 50px;
}

.miniaturas {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
}

.miniPictures {
    margin: 2px;
    width: 100px;
}

.principalPicture {
    width: 500px;
    height: 500px;
    margin-left: 2%
}

.picture {
    width: 100%;
    height: 25%;
}

.principalPicture img {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

.info {
    margin-left: 30px;
    padding: 10px;
    background-color: #222831;
}

#nombreProducto {
    font-size: 4.8em;
}

#precio {
    color: var(--negro);
    font-size: 4.8em;
}

#alCarrito {
    color: var(--naranja);
    font-size: 3.6em;
}

color: var(--naranja);

#descripcionProducto {
    color: var(--negro);
    font-size: 3.6em;
}

.datosAdicionales {
    font-family: var(--roboto);
}

#sectionName {
    text-align: center;
    font-size: 3.6em;
    font-weight: bold;
    color: var(--negro);
    margin-top: 100px;
    margin-bottom: 50px;
}

.moreData {
    font-size: 3.6em;
    color: var(--naranja);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 5%;
}

.moreData div {
    margin-right: 5%;
}

.similares {
    font-family: var(--roboto);
}

.similarProduct {
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
    height: 300px;
}

#similarProductName {
    background-color: var(--gris);
    width: 100%;
    height: 32.4%;
    color: var(--blanco);
}

#sP {
    text-align: center;
    padding-top: 10%;
}

.similarPictures {
    width: 100%;
}

.similarPictures img {
    width: 100%;
}

footer {
    font-family: var(--roboto);
    background-color: var(--gris);
    height: 100%;
}

.final {
    font-size: 3em;
    color: var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 300px;
    padding-right: 300px;
}

.final div {
    height: 300px;
    margin-top: 100px;
    margin-right: 0;
    color: var(--blanco);


    text-decoration: none;
    color: var(--blanco);
}

.final 

.invisible {
    display: none;
    visibility: hidden;
}


.logoContainer{
    width: 100px;
    height: 100px;
}


.logoimg{
    width: 100px;
    height: 100px;
}


/*----------------Admin Crud Users & products -------------------*/

.item{
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.botonEliminar{

background-color: red;
color: #ffffff;

}


.containerAdminIndex{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.ContenedorRegistro{
    
    height: 100%;
    margin-top: 0;

}

.btnCreateNewProduct{
    padding: 20px 20px 20px 0px ;
}

.imgBox{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.imagenPerfil{
    background-size:cover
    
}


/* ------------estilos formulario de registro--------------- */

/* .contenedorprincipal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerCreate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;


    background-color: white;
    width: 500px;
    padding: 30px 20px;
    border-radius: 25px;

    color: #222831;
    -webkit-box-shadow: -1px 3px 17px -2px rgba(0, 0, 0, 0.48);
    box-shadow: -1px 3px 17px -2px rgba(0, 0, 0, 0.48);
    padding-bottom: 50px;

} */