

.containerAdminIndex{
    width: 60%;
    margin: 15px auto;
    font-size: 1.5em;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.nameProductAdmin{
    text-align: justify;
    padding: 5px 0;
    margin-bottom: 5px;
}

.btnAdminDelete{
    padding: 2px 10px;
    border-radius: 28px;
}

.btnAdminEdit{
    padding: 2px 5px;
    border-radius: 28px;
}