<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Header</title>
</head>

<body>
    <header>
        <nav id="navBar">
            <div class="logoContainer">
                <a href="/"><img src="/img/altisport-logo.png" alt="" class="logoimg"></a>
            </div>
            <% if(locals.isLogged) { %>
                <% if(locals.userLogged.categoryId==1) { %>
                    <div class="navMenu">
                        <p class="navButton">
                            <a a href="/products/bicicletas">Bicicletas</a>
                        </p>
                        <p class="navButton">
                            <a a href="/products/balones">Balones</a>
                        </p>
                        <p class="navButton">
                            <a href="/products/ropa">Ropa</a>
                        </p>
                        <p class="navButton">
                            <a a href="/products/tenis">Tenis</a>
                        </p>

                    </div>
                    <% } else if(locals.userLogged.categoryId==2) { %>
                        <div class="navMenu">
                            <p class="navButton">
                                <a a href="/products/bicicletas">Bicicletas</a>
                            </p>
                            <p class="navButton">
                                <a a href="/products/balones">Balones</a>
                            </p>
                            <p class="navButton">
                                <a href="/products/ropa">Ropa</a>
                            </p>
                            <p class="navButton">
                                <a a href="/products/tenis">Tenis</a>
                            </p>

                        </div>
                        <% } %>
                            <% } else { %>
                                <div class="navMenu">
                                    <p class="navButton">
                                        <a a href="/products/bicicletas">Bicicletas</a>
                                    </p>
                                    <p class="navButton">
                                        <a a href="/products/balones">Balones</a>
                                    </p>
                                    <p class="navButton">
                                        <a href="/products/ropa">Ropa</a>
                                    </p>
                                    <p class="navButton">
                                        <a a href="/products/tenis">Tenis</a>
                                    </p>

                                </div>
                                <% } %>
                                    <div class="userMenu">
                                        <% if(locals.isLogged) { %>
                                            <% if(locals.userLogged.categoryId==1) { %>
                                                <p class="loginicon">
                                                    <img id="img" src="/img/imageProfile/<%=locals.userLogged.imagen%>"
                                                        alt="imagen de usuario">
                                                </p>
                                                <p class="loginicon">
                                                    <%= locals.userLogged.name %>
                                                </p>
                                                <p class="loginicon">
                                                    <a href="/adminusers/users/add"><i class="fas fa-user-plus"></i></a>
                                                </p>
                                                <p class="loginicon">
                                                    <a href="/admin/users/logout"><i class="fas fa-sign-in-alt"></i></a>
                                                </p>

                                                <% } %>
                                                    <% if(locals.userLogged.categoryId==2) { %>
                                                        <p class="loginicon">
                                                            <img id="img"
                                                                src="/img/imageProfile/<%=locals.userLogged.imagen%>"
                                                                alt="imagen de usuario">
                                                        </p>
                                                        <p class="loginicon">
                                                            <%= locals.userLogged.name %>
                                                        </p>
                                                        <p class="loginicon">
                                                            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                                                        </p>
                                                        <p class="loginicon">
                                                            <a href="/admin/users/logout"><i
                                                                    class="fas fa-sign-in-alt"></i></a>
                                                        </p>
                                                        <% } %>



                                                            <% } else { %>
                                                                <p class="loginicon">
                                                                    <a href="/users/login"><i
                                                                            class="fas fa-solid fa-user"></i></a>
                                                                </p>
                                                                <p class="loginicon">
                                                                    <a href="/create"><i
                                                                            class="fas fa-user-plus"></i></a>
                                                                </p>
                                                                <% } %>
                                    </div>



        </nav>
    </header>
</body>

</html>