<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/stylessLogin.css" type="text/css">
</head>
<body>
    <main>
        <div class = "login">
            <h1>Ingresa</h1>
                <img class="logo"  src="/img/altisport-logo.png" alt="Logo de la pagina">
                <form>
                    <label for="Usuario">Usuario</label><br>
                    <input name="nombre" type="text" placeholder="Nombre usuario">
                    <label for="password">Contrase単a</label><br>
                    <input type="password" placeholder="Ingrese contrase単a"><br>
                    <input type="submit" value="Ingresa"><br>
                    <nav>
                        <a href="/registro">多Olvidaste tu contrase単a?</a>
                        <a href="/registro.html">Crear cuenta</a>
                    </nav>
                </form>
            </div>
    </main>
</body>
</html>