<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/stylesRegistro.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>


        <main>

            <div>
                <form action="/users" method="POST" class="formulario" enctype="multipart/form-data">
                    <h2 class="titulo">Crea tu cuenta</h2><br>
                    <h3 class="subtitulo">¡Crea una cuenta una única vez y conéctate a todos nuestros servicios y sus
                        asociados
                        en un clic!</h3><br>
                    <label for="Nombre">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre"><br>
                    <label for="Email">Introduce tu email</label><br>
                    <input type="text" name="email" id="email" placeholder="correo electronico"><br>
                    <label for="contra">Introduce tu contraseña</label><br>
                    <input type="password" name="password" id="password" placeholder="contraseña"><br>
                    <label for="telefono">Telefono</label><br>
                    <input type="number" name="telefono" id="telefono" placeholder="123 456 789"><br>
                    <div class="columnas">
                        <p>
                            <label for="Departamento">Departamento</label><br>
                            <select name="departamento" id="departamento">
                                <option value="Cundinamarca">Cundinamarca</option>
                                <option value="Antioquia">Antioquia</option>
                                <option value="Tolima">Tolima</option>
                                <option value="Huila">Huila</option>
                                <option value="Amazonas">Amazonas</option>
                            </select>
                        </p>
                        <p>
                            <label for="Ciudad">Ciudad</label> <br>
                            <select name="ciudad" id="ciudad">
                                <option value="Cundinamarca">Bogota</option>
                                <option value="Antioquia">Medellin</option>
                                <option value="Tolima">Ibague</option>
                                <option value="Huila">Neiva</option>
                                <option value="Amazonas">Leticia</option>
                            </select><br>
                        </p>
                    </div>
                    <label for="Direccion">Direccion</label><br>
                    <input type="text" name="direccion" id="direccion" placeholder="clle #2 cra 23 -tv 15"><br>
                    <label for="Tarjeta">Tarjeta</label><br>
                    <input type="number" name="tarjeta" id="tarjeta" placeholder="123 456 789"><br>
                    <input type="submit" value="registarme" id="enviar"><br>
                </form>
            </div>
           



        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>